# Ignore example matrices
example_matrices/
Python_HPCGLib/MatrixLib/example_stencil_matrices
src/__pycache__/
HPCGLib/build/
HPCGLib/example_matrices/
Python_HPCGLib/__pycache__/
Python_HPCGLib/BenchmarkingLib/__pycache__/
Python_HPCGLib/HPCGLib_versions/__pycache__/
Python_HPCGLib/TestingLib/__pycache__/
Python_HPCGLib/MatrixLib/__pycache__/
dummy_timing_results/
HPCGLib/testing/job_run_multi_GPU.slurm